<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="$namespace">
    <resultMap id="beanMap" type="$beanType">
        #foreach ($item in $columns)
        <result column="$item.colName" property="$item.javaFieldName" jdbcType="$item.jdbcType" />
        #end
    </resultMap>

    <sql id="condition_sql">
        #foreach ($item in $columns)
        <if test="$item.javaFieldName != null"> and $item.colName = #{$item.javaFieldName,jdbcType=$item.jdbcType}</if>
        #end
    </sql>

    <sql id="table">$tableName</sql>

    <sql id="baseColumnList">
        $baseColumnList
    </sql>

    <sql id="baseFieldList">
        $baseFieldList
    </sql>
    
#if ($type == 'TABLE')
    <insert id="insert" parameterType="$beanType">
        insert into <include refid="table" />(<include refid="baseColumnList" />)
        values (<include refid="baseFieldList" />)
    </insert>

    <update id="updateByPrimaryKey" parameterType="$beanType">
        update <include refid="table"/>
        <set>
        #set ($i = 1)
        #set ($count = $columns.size())
        #foreach ($item in $columns)
            #if ($i != $count)
            $item.colName = #{$item.javaFieldName,jdbcType=$item.jdbcType},
            #else
            $item.colName = #{$item.javaFieldName,jdbcType=$item.jdbcType}
            #end
            #set ($i = $i + 1)
        #end
        </set>
        <where>
        #if ($primaryKeys.size() == 0)
            ## 这里如果表里面没有定义主键则不进行更新
            <![CDATA[ 1 <> 1 ]]>
        #else
            ## 生成文件的缩进，此处左移一个缩进
        #set ($i = 1)
        #set ($count = $primaryKeys.size())
        #foreach ($item in $primaryKeys)
            #if ($i != $count)
            $item.colName = #{$item.javaFieldName,jdbcType=$item.jdbcType} and
            #else
            $item.colName = #{$item.javaFieldName,jdbcType=$item.jdbcType}
            #end
            #set ($i = $i + 1)
        #end
        #end
        </where>
    </update>
	
	<update id="scopeUpdateByPK" parameterType="$beanType">
        update <include refid="table"/>
        <set>
            #foreach ($item in $columns)
            <if test="$item.javaFieldName != null"> $item.colName = #{$item.javaFieldName,jdbcType=$item.jdbcType}, </if>
            #end
        </set>
        <where>
        #if ($primaryKeys.size() == 0)
            ## 这里如果表里面没有定义主键则不进行更新
            <![CDATA[ 1 <> 1 ]]>
        #else
            ## 生成文件的缩进，此处左移一个缩进
        #set ($i = 1)
        #set ($count = $primaryKeys.size())
        #foreach ($item in $primaryKeys)
            #if ($i != $count)
            $item.colName = #{$item.javaFieldName,jdbcType=$item.jdbcType} and
            #else
            $item.colName = #{$item.javaFieldName,jdbcType=$item.jdbcType}
            #end
            #set ($i = $i + 1)
        #end
        #end
        </where>
    </update>

    <update id="updateBy" parameterType="java.util.Map">
        update <include refid="table"/>
        <set>
        #foreach ($item in $columns)
            <if test="v.$item.javaFieldName != null"> $item.colName = #{v.$item.javaFieldName,jdbcType=$item.jdbcType}, </if>
        #end
        </set>
        <where>
        #foreach ($item in $columns)
            <if test="c.$item.javaFieldName != null"> and $item.colName = #{c.$item.javaFieldName,jdbcType=$item.jdbcType}</if>
        #end
        </where>

    </update>

    <delete id="deleteByPrimaryKey" parameterType="$beanType">
        delete from <include refid="table"/>
        <where>
            #if ($primaryKeys.size() == 0)
            ## 这里如果表里面没有定义主键则不进行更新
            <![CDATA[ 1 <> 1 ]]>
            #else
            ## 生成文件的缩进，此处左移一个缩进
            #set ($i = 1)
            #set ($count = $primaryKeys.size())
            #foreach ($item in $primaryKeys)
            #if ($i != $count)
            $item.colName = #{$item.javaFieldName,jdbcType=$item.jdbcType} and
            #else
            $item.colName = #{$item.javaFieldName,jdbcType=$item.jdbcType}
            #end
            #set ($i = $i + 1)
            #end
            #end
        </where>
    </delete>

    <delete id="deleteBy" parameterType="$beanType">
        delete from <include refid="table"/>
        <where>
            <include refid="condition_sql" />
        </where>
    </delete>
    
#end
    <select id="listPage" parameterType="$beanType" resultMap="beanMap">
        select <include refid="baseColumnList"/> from <include refid="table" />
        <where>
            <include refid="condition_sql" />
        </where>
    </select>

    <select id="listPageCount" parameterType="$beanType" resultType="long">
        select count(1) from <include refid="table"/>
        <where>
            <include refid="condition_sql"/>
        </where>
    </select>

    <select id="listBy" parameterType="$beanType" resultMap="beanMap">
        select <include refid="baseColumnList"/> from <include refid="table"/>
        <where>
            <include refid="condition_sql"/>
        </where>
    </select>
    
#if ($type == 'TABLE')
    <select id="listForUpdate" parameterType="$beanType" resultMap="beanMap">
        select <include refid="baseColumnList"/> from <include refid="table"/>
        <where>
            <include refid="condition_sql"/>
        </where>
        $forUpdate
    </select>
    
#end
</mapper>