<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhcc.business.de.dao.impl.MyUserDaoImpl">
    <resultMap id="beanMap" type="com.dhcc.business.de.api.entity.MyUserItem">
        <result column="USER_NAME" property="user_name" jdbcType="VARCHAR" />
        <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
        <result column="_ID" property="_id" jdbcType="BIGINT" />
    </resultMap>

    <sql id="condition_sql">
        <if test="user_name != null and user_name != ''.toString()"> and USER_NAME = #{user_name,jdbcType=VARCHAR}</if>
        <if test="password != null and password != ''.toString()"> and PASSWORD = #{password,jdbcType=VARCHAR}</if>
        <if test="_id != null and _id != ''.toString()"> and "_ID" = #{_id,jdbcType=BIGINT}</if>
    </sql>
    
    <sql id="condition_sql_c">
       	<if test="c.user_name != null and c.user_name != ''.toString()"> and USER_NAME = #{c.user_name,jdbcType=VARCHAR}</if>
       	<if test="c.password != null and c.password != ''.toString()"> and PASSWORD = #{c.password,jdbcType=VARCHAR}</if>
       	<if test="c._id != null and c._id != ''.toString()"> and "_ID" = #{c._id,jdbcType=BIGINT}</if>
    </sql>

    <sql id="table">MY_USER</sql>

    <sql id="baseColumnList">
        USER_NAME,PASSWORD,"_ID"
    </sql>

    <sql id="baseFieldList">
        #{user_name,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},#{_id,jdbcType=BIGINT}
    </sql>
    
    <insert id="insert" parameterType="com.dhcc.business.de.api.entity.MyUserItem">
    	<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="_id">
			SELECT TO_CHAR(SYSDATE, 'YYYYMMDD')||lpad(MY_USER_SEQ.NEXTVAL,8,'0') FROM DUAL
		</selectKey>
        insert into <include refid="table" />(<include refid="baseColumnList" />)
        values (<include refid="baseFieldList" />)
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.dhcc.business.de.api.entity.MyUserItem">
        update <include refid="table"/>
        <set>
            USER_NAME = #{user_name,jdbcType=VARCHAR},
            PASSWORD = #{password,jdbcType=VARCHAR},
            "_ID" = #{_id,jdbcType=BIGINT}
        </set>
        <where>
            "_ID" = #{_id,jdbcType=BIGINT}
        </where>
    </update>
	
	<update id="scopeUpdateByPK" parameterType="com.dhcc.business.de.api.entity.MyUserItem">
        update <include refid="table"/>
        <set>
            <if test="user_name != null and user_name != ''.toString()"> USER_NAME = #{user_name,jdbcType=VARCHAR}, </if>
            <if test="password != null and password != ''.toString()"> PASSWORD = #{password,jdbcType=VARCHAR}, </if>
            <if test="_id != null and _id != ''.toString()"> "_ID" = #{_id,jdbcType=BIGINT}, </if>
        </set>
        <where>
            "_ID" = #{_id,jdbcType=BIGINT}
        </where>
    </update>

    <update id="updateBy" parameterType="java.util.Map">
        update <include refid="table"/>
        <set>
            <if test="v.user_name != null and v.user_name != ''.toString()"> USER_NAME = #{v.user_name,jdbcType=VARCHAR}, </if>
            <if test="v.password != null and v.password != ''.toString()"> PASSWORD = #{v.password,jdbcType=VARCHAR}, </if>
            <if test="v._id != null and v._id != ''.toString()"> "_ID" = #{v._id,jdbcType=BIGINT}, </if>
        </set>
        <where>
       		<include refid="condition_sql_c" />
        </where>
    </update>

    <delete id="deleteByPrimaryKey" parameterType="com.dhcc.business.de.api.entity.MyUserItem">
        delete from <include refid="table"/>
        <where>
            "_ID" = #{_id,jdbcType=BIGINT}
        </where>
    </delete>

    <delete id="deleteBy" parameterType="com.dhcc.business.de.api.entity.MyUserItem">
        delete from <include refid="table"/>
        <where>
            <include refid="condition_sql" />
        </where>
    </delete>
    
    <select id="listPage" parameterType="com.dhcc.business.de.api.entity.MyUserItem" resultMap="beanMap">
        select <include refid="baseColumnList"/> from <include refid="table" />
        <where>
            <include refid="condition_sql" />
        </where>
    </select>

    <select id="listPageCount" parameterType="com.dhcc.business.de.api.entity.MyUserItem" resultType="java.lang.Long">
        select count(1) from <include refid="table"/>
        <where>
            <include refid="condition_sql"/>
        </where>
    </select>

    <select id="listBy" parameterType="com.dhcc.business.de.api.entity.MyUserItem" resultMap="beanMap">
        select <include refid="baseColumnList"/> from <include refid="table"/>
        <where>
            <include refid="condition_sql"/>
        </where>
    </select>
    
     <select id="listOrderBy" parameterType="java.util.Map" resultMap="beanMap">
        select <include refid="baseColumnList"/> from <include refid="table"/>
        <where>
            <include refid="condition_sql_c"/>
        </where>
        ${order}
    </select>

    <select id="listForUpdate" parameterType="com.dhcc.business.de.api.entity.MyUserItem" resultMap="beanMap">
        select <include refid="baseColumnList"/> from <include refid="table"/>
        <where>
            <include refid="condition_sql"/>
        </where>
        for update wait 5
    </select>
    
    <select id="listOrderForUpdate" parameterType="java.util.Map" resultMap="beanMap">
        select <include refid="baseColumnList"/> from <include refid="table"/>
        <where>
            <include refid="condition_sql_c"/>
        </where>
        ${order}
        for update wait 5
    </select>

	<!-- user-defined -->
		
</mapper>